{% extends "base.html" %}
{% block title %}Add Book{% endblock %}
{% block content %}
    <main class="add_book_content">
        <h1>Add a Book</h1>
        <form action="add" method="POST" enctype="multipart/form-data" class="add_book_form">
            <!-- Enter Title... -->
            <div>
                <label for="title">Enter Title:</label>
                <input type="text" id="title" name="title">
            </div>
            <!-- Enter Author... -->
            <div>
                <label for="author">Enter Author:</label>
                <input type="text" id="author" name="author">
            </div>
            <!-- Select Genre...-->
            <div>
                <label for="genre">Select Genre:</label>
                <select id="genre" name="genre">
                    <option value="">-- Choose a genre --</option>
                    <option value="Fiction">Fiction</option>
                    <option value="Non-Fiction">Non-Fiction</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Mystery / Thriller">Mystery / Thriller</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Historical">Historical</option>
                    <option value="Biography">Biography</option>
                    <option value="Science & Technology">Science & Technology</option>
                </select>
            </div>
            <!-- Upload File (Extract Filename from uploaded filepath)... -->
            <div class="file_select">
                <label for="book_file">Upload PDF: </label>
                <input type="file" id="book_file" name="book_file">
            </div>

            <div class="form_buttons">
                <button type="submit">Submit</button>
                <button type="reset">Clear</button>
            </div>
        </form>
    </main>
{% endblock %}