<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{book.title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Signika+Negative:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.png')}}">
</head>
<body>
    <header class="page_header">
        <a id="home_button" href="{{url_for('home')}}">
            <h1>Library Project</h1>
        </a>
    </header>

    <main class="book_viewer">

        <section class="controls">
            <div class="page_controls">
                <button class="previous"> < Previous</button>
                <input type="text" placeholder="1" class="page_number">
                <span class="page_max">/ 1</span>
                <button class="next"> Next > </button>
            </div>
            <div class="bookmark">
                <div class="bookmark_button">
                    <img class="bookmark_icon">
                </div>
                <button class="jump_to_bookmark">></button>
            </div>
        </section>

        <div class="canvas_container">
            <canvas></canvas>
        </div>
    </main>

    <script>
        const pdf_URL = "{{ url_for('open_pdf', id=book.id)}}";
        const book_id = "{{ book.id }}"
        let bookmarked_page = "{{ book.bookmark_page }}";
    </script> <!-- Obtain flask URL for PDF to pass to JS-->
    <script type="module" src="{{ url_for('static', filename='read_book.js')}}"></script>
</body>
</html>