:root { /* Defining color variables */
    --offwhite: #E3EEF4;
    --primary_color: #F6F6F6;
    --grey: #D4D4D4;
    --background_color: #E6FAFC;
}
body {
    background-color: var(--background_color);
}

h1, h2 {
    font-family: 'Titillium Web', 'Roberto', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0.75em;
}
h3, h4 {
    font-family: 'Signika Negative', 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    margin: 1.5em;
    margin-bottom: 0;
}
p {
    font-family: 'Epilogue', 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    margin: 1em;
}
a { /* For info links and such */
    font-family: 'Epilogue', 'Montserrat', sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: black;
}
a:hover {
    cursor: pointer;
}

label {
    font-family: 'Epilogue', 'Montserrat', sans-serif;
    font-size: 1.25rem;
}

.top_controls {
    display: flex;
    flex-direction: column;
    background-color: var(--primary_color);
}

/* Header Bar */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid; /* solid */
    border-color: black; /* Black border to better outline website structure */
}
header h1 {
    font-size: 2rem;
}
.add_button {
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    font-size: 1.5rem;;
    margin: 1em;
    background-color: var(--offwhite);
    padding: 0.5%;
}

/* Search Bar */
.search_bar {
    border-style: solid;
    border-color: black;
    border-top-style: hidden;
    border-bottom-style: hidden;
}
.search_bar h2 {
    margin: 0.5em;
}

/* Filter Bar */
.filter_bar {
    border-style: solid;
    border-color: black;
}
.filter_bar h2 {
    margin: 0.5em;
}

button:hover {
    cursor: pointer;
}

.book_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book_card {
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 40%;
    align-items: stretch;
    gap: 2rem;
    border: black;
    border-style: solid;
    border-radius: 8px;
    background-color: var(--primary_color);
}

.book_cover {
    width: 100%;
    height: 100%;
    max-width: 30rem;
}

.book_cover img {
    width: 100%;
    height: 100%;
    border-left: 3px solid black;
    object-fit: cover;
    display: block;
}

.book_info {
    display: flex;
    flex-direction: column;
}

.book_info h3 {
    font-size: 2.5rem;
    margin: 1em;
}

.book_info p {
    font-size: 1.5rem;
    margin-top: 0;
}

.book_actions {
    margin-top: auto;
}

.book_actions a {
    width: 25%;
    background-color: var(--offwhite);
    margin: 1rem;
    font-size: 1.5rem;
    border-width: 2px;
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    padding: 0.5%;
    text-align: center;
}

.book_actions form {
    display: inline-block
}

.book_actions button {
    width: 100%;
    margin: 1rem;
    font-size: 1.5rem;
    border-width: 2px;
    border-radius: 8px;
    background-color: var(--offwhite);
}

.add_book_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    margin: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

.add_book_content h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.add_book_form {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.add_buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}